*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background-color: rgb(166, 166, 166);
    display: flex;
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid gainsboro;
    flex-shrink: 0;
}

.img-box img{
    width: 100%;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile h2{
    font-size: 20px;
}

.profile span{
    color: wheat;
}

.menu{
    background-color: rgb(61, 60, 60);
    width: 50px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.menu:hover{
    width: 330px;
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}

ul li a:hover, .active, .data-info .box:hover, td:hover{
    background-color: rgb(201, 201, 201);
}

.log-out{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.log-out a{
    background-color: rgb(107, 107, 193);
}

ul li a i{
    font-size: 24px;
}

.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: rgb(50, 173, 111);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.data-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.data-info .box{
    background-color: rgb(61, 60, 60);
    height: 100px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-info .box i{
    font-size: 40px;
}

.data-info .box .data{
    text-align: center;
}

.data-info .box .data span{
    font-size: 30px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}

td, th{
    background-color: rgb(166, 166, 166);
    height: 40px;
    border-radius: 8px;
}

th{
    background-color: rgb(50, 173, 111);
}

.price, .count{
    padding: 6px;
    border-radius: 6px;
}

.price{
    background-color: blue;
}

.count{
    background-color: chartreuse;
    color: black;
}